@use 'variables' as v;

.button{
    background-color: v.$primary;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;

    &__box{
      position: relative;
    }

    &__shadow{
      width: 60px;
      height: 60px;
      background: v.$secundary;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      z-index: -1;
    }

    &:active{
      transform: translateY(4px);
    }
}
// button {
//     border-radius: 8px;
  //   border: 1px solid transparent;
  //   padding: 0.6em 1.2em;
  //   font-size: 1em;
  //   font-weight: 500;
  //   font-family: inherit;
  //   background-color: #1a1a1a;
  //   cursor: pointer;
  //   transition: border-color 0.25s;
  // }
  // button:hover {
  //   border-color: #646cff;
  // }
  // button:focus,
  // button:focus-visible {
  //   outline: 4px auto -webkit-focus-ring-color;
  // }